.posts {
    display: flex;
}
.news__title {
    margin-bottom: 30px;
}
.post__inner {
   
}
.post__item {
    width: 32%;
    margin-right: 25px;
    margin-bottom: 40px;
}
.post__item:last-child {
    margin-right: 0;
}
.post__header {
    position: relative;
    margin-bottom: 20px;
}
.post__photo {
    display: block;
    max-width: 100%;
    height: auto;
}
.post__details {
    color: #a8a8a8;
}
.user__name span {
    border-bottom: dotted;
}

.post__title {
    font-family: "PT Serif", sans-serif;
    font-size: 26px;
    line-height: 26px;
    font-weight: 700;
    margin-bottom: 10px;
    opacity: 1;
    transition: color .3s ease;
}
.post__title:hover {
    opacity: 0.85;
}
.post__text {
    margin-bottom: 20px;
}


.blog__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.like {
    color: #a6c354;
    cursor: pointer;
}
.like span {
    color: #a8a8a8;
}
.like i {
    margin-right: 7px;
}
.more {
    color: #a8a8a8;
}
.more span {
    margin-left: 10px;
    color: #a6c354;
    opacity: 1;
    transition: color .2s ease;
}
.more span:hover {
    opacity: 0.85;
    text-decoration: underline;
}